@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@1,500&display=swap");

/* a function for base color or default color */
:root {
  --main-color: #8e44ad;
}

/* all the page will inherit this format */

* {
  font-family: "Cabin", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: uppercase;
  transition: all 0.2s linear;
}

/* the main container for all the things inside container from the HTML section */

.container {
  min-height: 100vh;
  background: var(--main-color);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 80px;
}

/* the h1 tag -> everything about color changer text */

.container h1 {
  color: var(--main-color);
  background: #fff;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  font-size: 6em;
  padding: 0.5em 0.8em;
}

/* everything inside color switcher */

.color-switcher {
  position: fixed;
  top: 25px;
  right: -200px;
  width: 200px;
  padding: 10px;
  background: #fff;
  z-index: 1000;
}

/* for javascript function here the active class made in the javascript section */

.color-switcher.active {
  right: 0px;
}

/* the h3 tag -> select color text will be formatted from here */

.color-switcher h3 {
  color: var(--main-color);
  font-size: 20px;
  margin-bottom: 10px;
  border-bottom: 1px solid #3333;
  padding: 5px 0;
  text-align: center;
}

/* the icon switch will be formatted by this style format */

.color-switcher .switcher-btn {
  color: var(--main-color);
  position: absolute;
  top: 0;
  left: -75px;
  background: #fff;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 35px;
}

/* the cog (setting icon) will be animated by this format */

.color-switcher .switcher-btn i {
  animation: rotate 2s linear infinite;
}

/* here putting the function for the rotate -> assigning fuctionality */

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

/* here formatting the different colors in arranged way, heer are 9 colors
so we want 3*3, and with flex and justify content its working  */

.color-switcher .theme-buttons-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* here how the theme buttons will look like the size and everything */

.color-switcher .theme-buttons-container .theme-buttons {
  display: block;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin: 5px;
  cursor: pointer;
}
